
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - Singapore Polytechnic DMIT FYP Web</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/site/app.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/site/app.min.css" asp-append-version="true" />

    </environment>
    <style>

        .boxed {
            background-color: #fff;
            border: 1px solid #e4e4e4;
            border-radius: 6px;
            min-height: 250px;
            width: 75%;
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

            .boxed:after {
                content: "";
                display: table;
                clear: both;
            }

        .push-down-45 {
            margin-bottom: 45px;
        }

        .panel-body.panel-body-noheader.panel-body-noborder {
            overflow: hidden !important;
        }

        .fbox-container {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
        }

            .fbox-container > div {
                border: 1px solid #999999;
                width: 50%;
                padding: 10px;
            }

                .fbox-container > div:first-child {
                    margin-right: -1px;
                }

        .borderless td, .borderless th {
            border: none;
        }

        .btn-no-border {
            border: 0 solid transparent;
            font-size: 1.3rem;
            padding: 4px 8px;
            border-radius: 2px;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }

        .post-heading {
            font-weight: 600;
            font-size: 1.6rem !important;
        }

        .post-body {
            font-family: "Segoe UI", Helvetica, serif !important;
            padding-top: 20px;
            font-size: 1.4rem !important;
            line-height: 1.3;
        }

        .col-property {
            padding-top: 8px;
        }

        #wrapper {
            /*margin-left: 8.5%;*/
        }

        #page-content-wrapper {
            width: 80%;
        }

        /** Sidebar ***/
        .sidebar {
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            position: absolute;
            width: 200px;
            height: 100%;
            clear: none;
        }

        .content {
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            height: 100%;
            overflow: hidden;
            margin-left: 200px;
        }


        .container-fluid {
            margin-top: 80px;
        }

            .container-fluid.toggled .sidebar {
                left: -200px;
            }

            .container-fluid.toggled .content {
                margin-left: 0;
            }

        /* On small screens the sidebar should be the full-width */
        @@media (max-width: 768px) {
            .container-fluid .sidebar {
                left: -200px;
            }

            .container-fluid .content {
                margin-left: 0;
            }

                .container-fluid.toggled .sidebar {
                    width: 100%;
                    left: 0;
                }

                .container-fluid.toggled .content {
                    margin-left: 100%;
                }
        }

        .panel-default {
            padding: 12px;
        }

        ul#sidebar-list {
            font-weight: bold;
            list-style: none;
        }

            ul#sidebar-list > li {
                display: block;
                padding-left: 0;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-top: 8px;
                text-decoration: none;
                height: 24px;
                line-height: 24px;
                padding-right: 4px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                font-family: helvetica, arial, sans-serif;
                font-size: 1.25rem;
                color: #9197a3;
            }

                ul#sidebar-list > li > a {
                    font-family: Helvetica, sans-serif;
                    padding: 3px;
                    color: #666;
                }

                    ul#sidebar-list > li > a:hover {
                        background-color: #d3d3d3;
                        text-decoration: none;
                    }

        @@media(max-width:768px) {
            footer, .optional-button {
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                transition: all 1s ease;
                display: none;
            }
        }

        html, body {
            height: 100% !important;
        }

        #wrap {
            background-color: #f1f1f1;
            min-height: 100%;
            height: auto !important;
            /* Pad bottom by footer height */
            padding: 0 0 60px;
        }


        #footer {
            background-color: #f1f1f1;
            height: 100px;
            width: 100%;
            display: table;
            float: left;
            clear: both;
        }

            #footer > .container {
                text-align: right;
                margin-right: 10px !important;
                font-size: 85%;
                color: #cccccc;
            }
    </style>



    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/default.min.css" />
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <script>// Retrieving a specified cookie from the cookie pool?
// Stack overflow provides a consise solution; http://stackoverflow.com/questions/1106377/detect-when-browser-receives-file-download
function getCookie(cookieName) {
            var parts = document.cookie.split(name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
}

function setCookie(cookieName, cookieValue) {
            document.cookie = cookieName + "=" + cookieValue;
}</script>

</head>
<body>
    @Html.Partial("WebsiteDisclaimerModal")
    <div id="wrap">

        @await Html.PartialAsync("_AppMainNav")
        <div class="container body-content">
            <div id="wrapper">
                <div class="container-fluid">
                    @await Html.PartialAsync("_SidePanel")
                    <div class="content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <hr />
        <div class="container">
            <p><a href="#" data-target="#legalModal" data-toggle="modal">Legal</a>&nbsp;&nbsp;Singapore Polytechnic FYP &copy; @DateTime.Now.Year</p>
        </div>
    </footer>
    <div id="scripts">


       
    </div>
    <environment names="Development">

        <script src="~/lib/site/app.min.js"></script>
        <script src="~/js/dropzone.js"></script>
        <script src="//cdn.jsdelivr.net/alertifyjs/1.4.1/alertify.min.js"></script>
        <script>$(function() {
                alertify.defaults = {
                    // dialogs defaults
                    modal: true,
                    basic: false,
                    frameless: false,
                    movable: false,
                    resizable: false,
                    closable: true,
                    closableByDimmer: false,
                    maximizable: true,
                    startMaximized: false,
                    pinnable: true,
                    pinned: true,
                    padding: true,
                    overflow: true,
                    maintainFocus: false,
                    transition: 'fade',
                    autoReset: true,

                    notifier: {
                        delay: 3,
                        position: "bottom-right"
                    },
                    glossary: {
                        title: '{{Title}}',
                        ok: 'OK',
                        cancel: 'Cancel'
                    },

                    theme: {
                        input: 'ajs-input',
                        ok: 'ajs-ok',
                        cancel: 'ajs-cancel'
                    }
                };
});</script>
    </environment>
    <environment names="Production, Staging">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/js/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>
        <script src="//cdn.jsdelivr.net/alertifyjs/1.4.1/alertify.min.js"></script>
        <script src="~/lib/site/app.min.js"></script>

        <script>$(function() {
                alertify.defaults = {
                    // dialogs defaults
                    modal: true,
                    basic: false,
                    frameless: false,
                    movable: false,
                    resizable: false,
                    closable: true,
                    closableByDimmer: false,
                    maximizable: true,
                    startMaximized: false,
                    pinnable: true,
                    pinned: true,
                    padding: true,
                    overflow: true,
                    maintainFocus: false,
                    transition: 'fade',
                    autoReset: true,

                    notifier: {
                        delay: 3,
                        position: "bottom-right"
                    },
                    glossary: {
                        title: '{{Title}}',
                        ok: 'OK',
                        cancel: 'Cancel'
                    },

                    theme: {
                        input: 'ajs-input',
                        ok: 'ajs-ok',
                        cancel: 'ajs-cancel'
                    }
                };
});</script>
    </environment>
    @RenderSection("Scripts", required: false)

</body>
</html>
